In [1]:
import pickle 

with open('new_demand.pkl', 'rb') as f:
    data = pickle.load(f)

In [6]:
import pandas as pd
import numpy as np
from baseline.utils import load_problem_data
from baseline.evaluation import get_actual_demand
_demand, datacenters, servers, _selling_prices, elasticity = load_problem_data(path='../../data/')

# GET THE DEMAND
# SET THE RANDOM SEED
np.random.seed(int(2831))
actual_demand = get_actual_demand(_demand)
actual_demand.head()

latency_sensitivity  time_step server_generation   high   low  medium
0                            1            CPU.S1   7693     0    2608
1                            1            GPU.S1     46     2      16
2                            2            CPU.S1  15700  3474    4139
3                            2            GPU.S1     94     4      30
4                            3            CPU.S1  21376  5891    5566

In [7]:
# convert dict to df 
# {ts: {sg: {ls: value}}} -> {timesteps: [], sg: [], ls: [], value: []}
def convert_dict_to_df(data):
    timesteps = []
    sg = []
    ls = []
    value = []
    for ts, v1 in data.items():
        for sg_, v2 in v1.items():
            for ls_, value_ in v2.items():
                timesteps.append(ts)
                sg.append(sg_)
                ls.append(ls_)
                value.append(value_)
    return pd.DataFrame({'timesteps': timesteps, 'sg': sg, 'ls': ls, 'value': value})

df=convert_dict_to_df(data)

In [11]:
df

      timesteps      sg      ls         value
0             1  CPU.S1     low  24558.457753
1             1  CPU.S1  medium  18129.331567
2             1  CPU.S1    high  18009.824809
3             1  CPU.S2     low      0.000000
4             1  CPU.S2  medium      0.000000
...         ...     ...     ...           ...
3523        168  GPU.S2  medium   1029.730964
3524        168  GPU.S2    high   1219.596047
3525        168  GPU.S3     low  14497.809114
3526        168  GPU.S3  medium   1462.926358
3527        168  GPU.S3    high   9860.113571

[3528 rows x 4 columns]

In [16]:
df.pivot(index=['timesteps','sg'], columns='ls', values='value')

ls                        high           low        medium
timesteps sg
1         CPU.S1  1.800982e+04  2.455846e+04  1.812933e+04
          CPU.S2  0.000000e+00  0.000000e+00  0.000000e+00
          CPU.S3  0.000000e+00  0.000000e+00  0.000000e+00
          CPU.S4  0.000000e+00  0.000000e+00  0.000000e+00
          GPU.S1  8.101563e+01  9.136572e+00  3.272315e+01
...                        ...           ...           ...
168       CPU.S3  4.031126e+05  9.774607e+05  2.555280e+05
          CPU.S4  1.987620e+06  4.831622e+06  1.661759e+06
          GPU.S1  0.000000e+00  0.000000e+00  0.000000e+00
          GPU.S2  1.219596e+03  1.444080e+03  1.029731e+03
          GPU.S3  9.860114e+03  1.449781e+04  1.462926e+03

[1176 rows x 3 columns]